html, body {
    width: 100%;
    height: 100%;
}
.sidebar, .maps, .full-height {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.toggle-sidebar-btn {
    position: absolute;
    z-index: 10;
    right: 1px;
    width: 40px;
    height: 40px;
    background-color: #f5f7fa;
    top: 0;
    line-height: 40px;
    cursor: pointer;
    border-right: 1px solid #aab2bd;
    border-bottom: 1px solid #aab2bd;
    &:hover {
        background-color: #e6e9ed;
    }
}

.sidebar {
    transition: left .4s;
    width: 540px;
    position: absolute;
    z-index: 5;
    left: 0;
    
    &.slide-out {
        transition: left .4s ease-out;
        left: -500px;
    }    
    
    @media screen and (max-width: 640px) {
        width: 360px;
        
        &.slide-out {
            left: -320px;
        }
    }
}

h3 {
    margin: .5em;
}

.sidebar-inside {
    position: absolute;
    width: 500px;
    padding: 0 15px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;  
    background-color: #f5f7fa;  
    border-right: 1px solid #aab2bd;   
    -webkit-overflow-scrolling: touch; 
    
    @media screen and (max-width: 640px) {
        width: 320px;
    }
}

.maps {
    width: 100%;
}

.panel {
    margin: 2em 0;
}

.list-box {
    .tag {
        margin: .3em 0;
        border-radius: 25px;
        .close {
            margin-left: 5px;
        }
    }
    .current-search-tag {
        padding: .5em;
        margin-bottom: .5em;
    }
}

.delete-tag-btn {
    color: #a94442;
    &:hover, &:focus {
        text-decoration: none;
        color: #da4453;
    }
}

.info-window {
    height: 4em;
    width: 18em;
    overflow: hidden;
}
